
.table {
    border: 1px solid black;
    box-sizing: border-box;
}

.product {
    border: 1px solid #000;
    margin-bottom: 5px;
    width: 360px;
}

.catalog__container {
    display: flex;
    justify-content: space-around;
}